@import url(./__list/places__list.css);
@import url(./__item/places__item.css);

.places {
  padding: 15px 0 36px;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 568px) {
  .places {
    padding: 15px 0 18px;
  }
}
.place__like-counter {
  position: absolute;
  right: 25px;
  bottom: 18px;
  width: 10px;
  height: 13px;
  color: #000;
  font-size: 13px;
  line-height: 16px;
}
